<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @post.title %></h1>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <p>
        <%= @post.content %>
      </p>
    </div>
    <% if @post.photo.present? %>
      <%= image_tag @post.photo %>
    <% else %>
      <img src="/nkar.webp">
    <% end %>
  </div>
</div>
